{% block title %}
<title>Condition</title>
{% endblock %}

{% block content %}
<h1>Тех. задание</h1>
<p>
Курсовой проект "Сервисный центр"<br>

Пишем CRM для службы технической поддержки.<br>

Обзор: Мы - сотрудники компании, которая занимается ремонтом техники, а также консультационными вопросами клиентов.
    В нашей компании есть несколько департаментов, в каждом из которых работает какое-то количество сотрудников.
    Клиенты, у которых есть вопросы могут связываться с нашей компанией различными способами, но в любом случае это
    обращение будет регистрироваться в системе и переводиться на ответственного сотрудника, который будет заниматься
    данным вопросом. <br>

В рамках курсового проекта предлагается реализовать CRM («Customer Relationship Management»,
    что в переводе звучит как «Управление отношениями с клиентами»).<br>

Необходимо реализовать следующий функционал:<br>

Управление данными:<br>

Добавление, изменение, удаление информации о департаментах компании.<br>
Добавление, изменение, удаление информации о сотрудниках компании.<br>
Добавление, изменение, удаление информации о заявках на ремонт оборудования.<br>
Добавление, изменение, удаление информации о клиентах, обратившихся с проблемой.<br>
Примечание: в качестве БД можно выбрать любую БД (mongo, PostgreSQL, SQLite - это то, что было в рамках курса,
    но если вы знакомы с другими БД, например Clickhouse или MySQL можно использовать и их).<br>

Выборка данных:<br>

Фильтрация заявок по клиентам.<br>
Фильтрация заявок по датам создания.<br>
Фильтрация заявок по статусам.<br>
Фильтрация заявок по ответственным сотрудникам.<br>
Примечание: для каждой выборки данных необходимо иметь HTML-шаблон для удобной пользовательской выдачи информации в браузер.<br>

Оповещения:<br>

Оповещение клиента об изменении статуса его заявки.<br>
Оповещение сотрудника о том, что на него назначена заявка.<br>
Оповещение сотрудника о том, какие заявки сегодня числятся за ним в открытом статусе.<br>
ВАЖНО: делайте курсовой проект СТРОГО в отдельной ветке (в составе текущего вашего репозитория либо нового проектного)!
    Примечание: данный проект имеет бесконечный потенциал масштабирования. Если у вас в рамках курса есть желание
    и время сделать что-то выходящее за пределы вышеупомянутых задач, то это будет приветствоваться! Кроме того,
    если вы решите расширять свой проект после завершения курса, то это будет хорошая база для вашего портфолио!<br>

Желаю удачи!<br>

</p>
<A href="/">Вернутся назад</A>
{% endblock %}